body {
  margin: 0;
  font-family: 'SH Pinscher';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'SH Pinscher';
                                                
}
