body {
  margin: 0;
  font-family: 'SH Pinscher';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "SH Pinscher";
  src: url("./fonts/SHPinscher-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

code {
  font-family: 'SH Pinscher';
                                                
}

.popup-content {
  margin-left: 2vh;
  margin-top: 4vw;
  transform: translate(-50%, -50%);
}